In [3]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

from statsmodels.stats.outliers_influence import variance_inflation_factor

from sklearn.linear_model import LinearRegression, Ridge, Lasso

import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

import pickle
import json

In [4]:
#To predict the Survived in Titanic ship by using logestic regression model

In [5]:
df=pd.read_csv("titanic.csv")
df

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Gender       891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Gender           0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
df["PassengerId"].value_counts().to_dict()

{1: 1,
 599: 1,
 588: 1,
 589: 1,
 590: 1,
 591: 1,
 592: 1,
 593: 1,
 594: 1,
 595: 1,
 596: 1,
 597: 1,
 598: 1,
 600: 1,
 586: 1,
 601: 1,
 602: 1,
 603: 1,
 604: 1,
 605: 1,
 606: 1,
 607: 1,
 608: 1,
 609: 1,
 610: 1,
 611: 1,
 587: 1,
 585: 1,
 613: 1,
 571: 1,
 560: 1,
 561: 1,
 562: 1,
 563: 1,
 564: 1,
 565: 1,
 566: 1,
 567: 1,
 568: 1,
 569: 1,
 570: 1,
 572: 1,
 584: 1,
 573: 1,
 574: 1,
 575: 1,
 576: 1,
 577: 1,
 578: 1,
 579: 1,
 580: 1,
 581: 1,
 582: 1,
 583: 1,
 612: 1,
 614: 1,
 669: 1,
 655: 1,
 644: 1,
 645: 1,
 646: 1,
 647: 1,
 648: 1,
 649: 1,
 650: 1,
 651: 1,
 652: 1,
 653: 1,
 654: 1,
 656: 1,
 642: 1,
 657: 1,
 658: 1,
 659: 1,
 660: 1,
 661: 1,
 662: 1,
 663: 1,
 664: 1,
 665: 1,
 666: 1,
 667: 1,
 643: 1,
 641: 1,
 615: 1,
 627: 1,
 616: 1,
 617: 1,
 618: 1,
 619: 1,
 620: 1,
 621: 1,
 622: 1,
 623: 1,
 624: 1,
 625: 1,
 626: 1,
 628: 1,
 640: 1,
 629: 1,
 630: 1,
 631: 1,
 632: 1,
 633: 1,
 634: 1,
 635: 1,
 636: 1,
 637: 1,
 638: 1,
 639: 1,
 559: 1,
 558: 1,
 557: 1,
 488: 1,
 477: 1,
 478: 1,
 479: 1,
 480: 1,
 481: 1,
 482: 1,
 483: 1,
 484: 1,
 485: 1,
 486: 1,
 487: 1,
 489: 1,
 475: 1,
 490: 1,
 491: 1,
 492: 1,
 493: 1,
 494: 1,
 495: 1,
 496: 1,
 497: 1,
 498: 1,
 499: 1,
 500: 1,
 476: 1,
 474: 1,
 556: 1,
 460: 1,
 449: 1,
 450: 1,
 451: 1,
 452: 1,
 453: 1,
 454: 1,
 455: 1,
 456: 1,
 457: 1,
 458: 1,
 459: 1,
 461: 1,
 473: 1,
 462: 1,
 463: 1,
 464: 1,
 465: 1,
 466: 1,
 467: 1,
 468: 1,
 469: 1,
 470: 1,
 471: 1,
 472: 1,
 501: 1,
 502: 1,
 503: 1,
 543: 1,
 532: 1,
 533: 1,
 534: 1,
 535: 1,
 536: 1,
 537: 1,
 538: 1,
 539: 1,
 540: 1,
 541: 1,
 542: 1,
 544: 1,
 504: 1,
 545: 1,
 546: 1,
 547: 1,
 548: 1,
 549: 1,
 550: 1,
 551: 1,
 552: 1,
 553: 1,
 554: 1,
 555: 1,
 531: 1,
 530: 1,
 529: 1,
 528: 1,
 505: 1,
 506: 1,
 507: 1,
 508: 1,
 509: 1,
 510: 1,
 511: 1,
 512: 1,
 513: 1,
 514: 1,
 515: 1,
 516: 1,
 517: 1,
 518: 1,
 519: 1,
 520: 1,
 521: 1,
 522: 1,
 523: 1,
 524: 1,
 525: 1,
 526: 1,
 527: 1,
 668: 1,
 670: 1,
 447: 1,
 822: 1,
 811: 1,
 812: 1,
 813: 1,
 814: 1,
 815: 1,
 816: 1,
 817: 1,
 818: 1,
 819: 1,
 820: 1,
 821: 1,
 823: 1,
 809: 1,
 824: 1,
 825: 1,
 826: 1,
 827: 1,
 828: 1,
 829: 1,
 830: 1,
 831: 1,
 832: 1,
 833: 1,
 834: 1,
 810: 1,
 808: 1,
 836: 1,
 794: 1,
 783: 1,
 784: 1,
 785: 1,
 786: 1,
 787: 1,
 788: 1,
 789: 1,
 790: 1,
 791: 1,
 792: 1,
 793: 1,
 795: 1,
 807: 1,
 796: 1,
 797: 1,
 798: 1,
 799: 1,
 800: 1,
 801: 1,
 802: 1,
 803: 1,
 804: 1,
 805: 1,
 806: 1,
 835: 1,
 837: 1,
 671: 1,
 878: 1,
 867: 1,
 868: 1,
 869: 1,
 870: 1,
 871: 1,
 872: 1,
 873: 1,
 874: 1,
 875: 1,
 876: 1,
 877: 1,
 879: 1,
 865: 1,
 880: 1,
 881: 1,
 882: 1,
 883: 1,
 884: 1,
 885: 1,
 886: 1,
 887: 1,
 888: 1,
 889: 1,
 890: 1,
 866: 1,
 864: 1,
 838: 1,
 850: 1,
 839: 1,
 840: 1,
 841: 1,
 842: 1,
 843: 1,
 844: 1,
 845: 1,
 846: 1,
 847: 1,
 848: 1,
 849: 1,
 851: 1,
 863: 1,
 852: 1,
 853: 1,
 854: 1,
 855: 1,
 856: 1,
 857: 1,
 858: 1,
 859: 1,
 860: 1,
 861: 1,
 862: 1,
 782: 1,
 781: 1,
 780: 1,
 711: 1,
 700: 1,
 701: 1,
 702: 1,
 703: 1,
 704: 1,
 705: 1,
 706: 1,
 707: 1,
 708: 1,
 709: 1,
 710: 1,
 712: 1,
 698: 1,
 713: 1,
 714: 1,
 715: 1,
 716: 1,
 717: 1,
 718: 1,
 719: 1,
 720: 1,
 721: 1,
 722: 1,
 723: 1,
 699: 1,
 697: 1,
 779: 1,
 683: 1,
 672: 1,
 673: 1,
 674: 1,
 675: 1,
 676: 1,
 677: 1,
 678: 1,
 679: 1,
 680: 1,
 681: 1,
 682: 1,
 684: 1,
 696: 1,
 685: 1,
 686: 1,
 687: 1,
 688: 1,
 689: 1,
 690: 1,
 691: 1,
 692: 1,
 693: 1,
 694: 1,
 695: 1,
 724: 1,
 725: 1,
 726: 1,
 766: 1,
 755: 1,
 756: 1,
 757: 1,
 758: 1,
 759: 1,
 760: 1,
 761: 1,
 762: 1,
 763: 1,
 764: 1,
 765: 1,
 767: 1,
 727: 1,
 768: 1,
 769: 1,
 770: 1,
 771: 1,
 772: 1,
 773: 1,
 774: 1,
 775: 1,
 776: 1,
 777: 1,
 778: 1,
 754: 1,
 753: 1,
 752: 1,
 751: 1,
 728: 1,
 729: 1,
 730: 1,
 731: 1,
 732: 1,
 733: 1,
 734: 1,
 735: 1,
 736: 1,
 737: 1,
 738: 1,
 739: 1,
 740: 1,
 741: 1,
 742: 1,
 743: 1,
 744: 1,
 745: 1,
 746: 1,
 747: 1,
 748: 1,
 749: 1,
 750: 1,
 448: 1,
 446: 1,
 2: 1,
 153: 1,
 142: 1,
 143: 1,
 144: 1,
 145: 1,
 146: 1,
 147: 1,
 148: 1,
 149: 1,
 150: 1,
 151: 1,
 152: 1,
 154: 1,
 140: 1,
 155: 1,
 156: 1,
 157: 1,
 158: 1,
 159: 1,
 160: 1,
 161: 1,
 162: 1,
 163: 1,
 164: 1,
 165: 1,
 141: 1,
 139: 1,
 167: 1,
 125: 1,
 114: 1,
 115: 1,
 116: 1,
 117: 1,
 118: 1,
 119: 1,
 120: 1,
 121: 1,
 122: 1,
 123: 1,
 124: 1,
 126: 1,
 138: 1,
 127: 1,
 128: 1,
 129: 1,
 130: 1,
 131: 1,
 132: 1,
 133: 1,
 134: 1,
 135: 1,
 136: 1,
 137: 1,
 166: 1,
 168: 1,
 223: 1,
 209: 1,
 198: 1,
 199: 1,
 200: 1,
 201: 1,
 202: 1,
 203: 1,
 204: 1,
 205: 1,
 206: 1,
 207: 1,
 208: 1,
 210: 1,
 196: 1,
 211: 1,
 212: 1,
 213: 1,
 214: 1,
 215: 1,
 216: 1,
 217: 1,
 218: 1,
 219: 1,
 220: 1,
 221: 1,
 197: 1,
 195: 1,
 169: 1,
 181: 1,
 170: 1,
 171: 1,
 172: 1,
 173: 1,
 174: 1,
 175: 1,
 176: 1,
 177: 1,
 178: 1,
 179: 1,
 180: 1,
 182: 1,
 194: 1,
 183: 1,
 184: 1,
 185: 1,
 186: 1,
 187: 1,
 188: 1,
 189: 1,
 190: 1,
 191: 1,
 192: 1,
 193: 1,
 113: 1,
 112: 1,
 111: 1,
 42: 1,
 31: 1,
 32: 1,
 33: 1,
 34: 1,
 35: 1,
 36: 1,
 37: 1,
 38: 1,
 39: 1,
 40: 1,
 41: 1,
 43: 1,
 29: 1,
 44: 1,
 45: 1,
 46: 1,
 47: 1,
 48: 1,
 49: 1,
 50: 1,
 51: 1,
 52: 1,
 53: 1,
 54: 1,
 30: 1,
 28: 1,
 110: 1,
 14: 1,
 3: 1,
 4: 1,
 5: 1,
 6: 1,
 7: 1,
 8: 1,
 9: 1,
 10: 1,
 11: 1,
 12: 1,
 13: 1,
 15: 1,
 27: 1,
 16: 1,
 17: 1,
 18: 1,
 19: 1,
 20: 1,
 21: 1,
 22: 1,
 23: 1,
 24: 1,
 25: 1,
 26: 1,
 55: 1,
 56: 1,
 57: 1,
 97: 1,
 86: 1,
 87: 1,
 88: 1,
 89: 1,
 90: 1,
 91: 1,
 92: 1,
 93: 1,
 94: 1,
 95: 1,
 96: 1,
 98: 1,
 58: 1,
 99: 1,
 100: 1,
 101: 1,
 102: 1,
 103: 1,
 104: 1,
 105: 1,
 106: 1,
 107: 1,
 108: 1,
 109: 1,
 85: 1,
 84: 1,
 83: 1,
 82: 1,
 59: 1,
 60: 1,
 61: 1,
 62: 1,
 63: 1,
 64: 1,
 65: 1,
 66: 1,
 67: 1,
 68: 1,
 69: 1,
 70: 1,
 71: 1,
 72: 1,
 73: 1,
 74: 1,
 75: 1,
 76: 1,
 77: 1,
 78: 1,
 79: 1,
 80: 1,
 81: 1,
 222: 1,
 224: 1,
 445: 1,
 376: 1,
 365: 1,
 366: 1,
 367: 1,
 368: 1,
 369: 1,
 370: 1,
 371: 1,
 372: 1,
 373: 1,
 374: 1,
 375: 1,
 377: 1,
 363: 1,
 378: 1,
 379: 1,
 380: 1,
 381: 1,
 382: 1,
 383: 1,
 384: 1,
 385: 1,
 386: 1,
 387: 1,
 388: 1,
 364: 1,
 362: 1,
 390: 1,
 348: 1,
 337: 1,
 338: 1,
 339: 1,
 340: 1,
 341: 1,
 342: 1,
 343: 1,
 344: 1,
 345: 1,
 346: 1,
 347: 1,
 349: 1,
 361: 1,
 350: 1,
 351: 1,
 352: 1,
 353: 1,
 354: 1,
 355: 1,
 356: 1,
 357: 1,
 358: 1,
 359: 1,
 360: 1,
 389: 1,
 391: 1,
 225: 1,
 432: 1,
 421: 1,
 422: 1,
 423: 1,
 424: 1,
 425: 1,
 426: 1,
 427: 1,
 428: 1,
 429: 1,
 430: 1,
 431: 1,
 433: 1,
 419: 1,
 434: 1,
 435: 1,
 436: 1,
 437: 1,
 438: 1,
 439: 1,
 440: 1,
 441: 1,
 442: 1,
 443: 1,
 444: 1,
 420: 1,
 418: 1,
 392: 1,
 404: 1,
 393: 1,
 394: 1,
 395: 1,
 396: 1,
 397: 1,
 398: 1,
 399: 1,
 400: 1,
 401: 1,
 402: 1,
 403: 1,
 405: 1,
 417: 1,
 406: 1,
 407: 1,
 408: 1,
 409: 1,
 410: 1,
 411: 1,
 412: 1,
 413: 1,
 414: 1,
 415: 1,
 416: 1,
 336: 1,
 335: 1,
 334: 1,
 265: 1,
 254: 1,
 255: 1,
 256: 1,
 257: 1,
 258: 1,
 259: 1,
 260: 1,
 261: 1,
 262: 1,
 263: 1,
 264: 1,
 266: 1,
 252: 1,
 267: 1,
 268: 1,
 269: 1,
 270: 1,
 271: 1,
 272: 1,
 273: 1,
 274: 1,
 275: 1,
 276: 1,
 277: 1,
 253: 1,
 251: 1,
 333: 1,
 237: 1,
 226: 1,
 227: 1,
 228: 1,
 229: 1,
 230: 1,
 231: 1,
 232: 1,
 233: 1,
 234: 1,
 235: 1,
 236: 1,
 238: 1,
 250: 1,
 239: 1,
 240: 1,
 241: 1,
 242: 1,
 243: 1,
 244: 1,
 245: 1,
 246: 1,
 247: 1,
 248: 1,
 249: 1,
 278: 1,
 279: 1,
 280: 1,
 320: 1,
 309: 1,
 310: 1,
 311: 1,
 312: 1,
 313: 1,
 314: 1,
 315: 1,
 316: 1,
 317: 1,
 318: 1,
 319: 1,
 321: 1,
 281: 1,
 322: 1,
 323: 1,
 324: 1,
 325: 1,
 326: 1,
 327: 1,
 328: 1,
 329: 1,
 330: 1,
 331: 1,
 332: 1,
 308: 1,
 307: 1,
 306: 1,
 305: 1,
 282: 1,
 283: 1,
 284: 1,
 285: 1,
 286: 1,
 287: 1,
 288: 1,
 289: 1,
 290: 1,
 291: 1,
 292: 1,
 293: 1,
 294: 1,
 295: 1,
 296: 1,
 297: 1,
 298: 1,
 299: 1,
 300: 1,
 301: 1,
 302: 1,
 303: 1,
 304: 1,
 891: 1}

In [9]:
df["Survived"].value_counts().to_dict()

{0: 547, 1: 344}

In [10]:
df["Pclass"].value_counts().to_dict()

{3: 491, 1: 216, 2: 184}

In [11]:
df["Name"].value_counts().to_dict()

{'Braund, Mr. Owen Harris': 1,
 'Boulos, Mr. Hanna': 1,
 'Frolicher-Stehli, Mr. Maxmillian': 1,
 'Gilinski, Mr. Eliezer': 1,
 'Murdlin, Mr. Joseph': 1,
 'Rintamaki, Mr. Matti': 1,
 'Stephenson, Mrs. Walter Bertram (Martha Eustis)': 1,
 'Elsbury, Mr. William James': 1,
 'Bourke, Miss. Mary': 1,
 'Chapman, Mr. John Henry': 1,
 'Van Impe, Mr. Jean Baptiste': 1,
 'Leitch, Miss. Jessie Wills': 1,
 'Johnson, Mr. Alfred': 1,
 'Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")': 1,
 'Taussig, Miss. Ruth': 1,
 'Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)': 1,
 'Slabenoff, Mr. Petco': 1,
 'Harrington, Mr. Charles H': 1,
 'Torber, Mr. Ernst William': 1,
 'Homer, Mr. Harry ("Mr E Haven")': 1,
 'Lindell, Mr. Edvard Bengtsson': 1,
 'Karaic, Mr. Milan': 1,
 'Daniel, Mr. Robert Williams': 1,
 'Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)': 1,
 'Shutes, Miss. Elizabeth W': 1,
 'Andersson, Mrs. Anders Johan (Alfrida Konstantia Brogren)': 1,
 'Jarvis, Mr. John Denzil': 1,
 'Paulner, Mr. Uscher': 1,
 'Murphy, Miss. Margaret Jane': 1,
 'Harris, Mr. George': 1,
 'de Messemaeker, Mrs. Guillaume Joseph (Emma)': 1,
 'Morrow, Mr. Thomas Rowan': 1,
 'Sivic, Mr. Husein': 1,
 'Norman, Mr. Robert Douglas': 1,
 'Simmons, Mr. John': 1,
 'Meanwell, Miss. (Marion Ogden)': 1,
 'Davies, Mr. Alfred J': 1,
 'Stoytcheff, Mr. Ilia': 1,
 'Palsson, Mrs. Nils (Alma Cornelia Berglund)': 1,
 'Doharr, Mr. Tannous': 1,
 'Jonsson, Mr. Carl': 1,
 'Appleton, Mrs. Edward Dale (Charlotte Lamson)': 1,
 'Ross, Mr. John Hugo': 1,
 'Flynn, Mr. John Irwin ("Irving")': 1,
 'Kelly, Miss. Mary': 1,
 'Rush, Mr. Alfred George John': 1,
 'Patchett, Mr. George': 1,
 'Garside, Miss. Ethel': 1,
 'Silvey, Mrs. William Baird (Alice Munger)': 1,
 'Caram, Mrs. Joseph (Maria Elias)': 1,
 'Jussila, Mr. Eiriik': 1,
 'Christy, Miss. Julie Rachel': 1,
 'Thayer, Mrs. John Borland (Marian Longstreth Morris)': 1,
 'Downton, Mr. William James': 1,
 'Jardin, Mr. Jose Neto': 1,
 'Horgan, Mr. John': 1,
 'Cook, Mr. Jacob': 1,
 'Hegarty, Miss. Hanora "Nora"': 1,
 'Foo, Mr. Choong': 1,
 'Baclini, Miss. Eugenie': 1,
 'Harper, Mr. Henry Sleeper': 1,
 'Cor, Mr. Liudevit': 1,
 'Simonius-Blumer, Col. Oberst Alfons': 1,
 'Willey, Mr. Edward': 1,
 'Stanley, Miss. Amy Zillah Elsie': 1,
 'Mitkoff, Mr. Mito': 1,
 'Doling, Miss. Elsie': 1,
 'Kalvik, Mr. Johannes Halvorsen': 1,
 'O\'Leary, Miss. Hanora "Norah"': 1,
 'Hickman, Mr. Leonard Mark': 1,
 'Sagesser, Mlle. Emma': 1,
 'Radeff, Mr. Alexander': 1,
 'Bourke, Mrs. John (Catherine)': 1,
 'Eitemiller, Mr. George Floyd': 1,
 'Newell, Mr. Arthur Webster': 1,
 'Frauenthal, Dr. Henry William': 1,
 'Badt, Mr. Mohamed': 1,
 'Colley, Mr. Edward Pomeroy': 1,
 'Coleff, Mr. Peju': 1,
 'Lindqvist, Mr. Eino William': 1,
 'Hickman, Mr. Lewis': 1,
 'Butler, Mr. Reginald Fenton': 1,
 'Skoog, Miss. Margit Elizabeth': 1,
 'Jensen, Mr. Hans Peder': 1,
 'Brocklebank, Mr. William Alfred': 1,
 'Kirkland, Rev. Charles Leonard': 1,
 'Herman, Miss. Alice': 1,
 'Danbom, Mr. Ernst Gilbert': 1,
 'Lobb, Mrs. William Arthur (Cordelia K Stanlick)': 1,
 'Becker, Miss. Marion Louise': 1,
 'Gavey, Mr. Lawrence': 1,
 'Yasbeck, Mr. Antoni': 1,
 'Kimball, Mr. Edwin Nelson Jr': 1,
 'Nakid, Mr. Sahid': 1,
 'Hansen, Mr. Henry Damsgaard': 1,
 'Bowen, Mr. David John "Dai"': 1,
 'Sutton, Mr. Frederick': 1,
 'Longley, Miss. Gretchen Fiske': 1,
 'Thorneycroft, Mr. Percival': 1,
 'Bostandyeff, Mr. Guentcho': 1,
 "O'Connell, Mr. Patrick D": 1,
 'Barkworth, Mr. Algernon Henry Wilson': 1,
 'Lundahl, Mr. Johan Svensson': 1,
 'Stahelin-Maeglin, Dr. Max': 1,
 'Parr, Mr. William Henry Marsh': 1,
 'Skoog, Miss. Mabel': 1,
 'Davis, Miss. Mary': 1,
 'Leinonen, Mr. Antti Gustaf': 1,
 'Collyer, Mr. Harvey': 1,
 'Panula, Mrs. Juha (Maria Emilia Ojala)': 1,
 'Taussig, Mrs. Emil (Tillie Mandelbaum)': 1,
 'Robbins, Mr. Victor': 1,
 'Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")': 1,
 'Kent, Mr. Edward Austin': 1,
 'Renouf, Mr. Peter Henry': 1,
 'Braund, Mr. Lewis Richard': 1,
 'Karlsson, Mr. Nils August': 1,
 'Hirvonen, Miss. Hildur E': 1,
 'Goodwin, Master. Harold Victor': 1,
 'Frost, Mr. Anthony Wood "Archie"': 1,
 'Rouse, Mr. Richard Henry': 1,
 'Turkula, Mrs. (Hedwig)': 1,
 'Bishop, Mr. Dickinson H': 1,
 'Lefebre, Miss. Jeannie': 1,
 'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)': 1,
 'Somerton, Mr. Francis William': 1,
 'Strandberg, Miss. Ida Sofia': 1,
 'Coutts, Master. Eden Leslie "Neville"': 1,
 'Hagland, Mr. Konrad Mathias Reiersen': 1,
 'Windelov, Mr. Einar': 1,
 'Molson, Mr. Harry Markland': 1,
 'Artagaveytia, Mr. Ramon': 1,
 'Stanley, Mr. Edward Roland': 1,
 'Yousseff, Mr. Gerious': 1,
 'Eustis, Miss. Elizabeth Mussey': 1,
 'Shellard, Mr. Frederick William': 1,
 'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)': 1,
 'Svensson, Mr. Olof': 1,
 'Clifford, Mr. George Quincy': 1,
 'Jerwan, Mrs. Amin S (Marie Marthe Thuillard)': 1,
 'Wright, Mr. George': 1,
 "O'Connor, Mr. Maurice": 1,
 'Baclini, Miss. Marie Catherine': 1,
 'Peuchen, Major. Arthur Godfrey': 1,
 'West, Mr. Edwy Arthur': 1,
 'Hagland, Mr. Ingvald Olai Olsen': 1,
 'Foreman, Mr. Benjamin Laventall': 1,
 'Goldenberg, Mr. Samuel L': 1,
 'Peduzzi, Mr. Joseph': 1,
 'Jalsevac, Mr. Ivan': 1,
 'Millet, Mr. Francis Davis': 1,
 'Kenyon, Mrs. Frederick R (Marion)': 1,
 'Toomey, Miss. Ellen': 1,
 'Anderson, Mr. Harry': 1,
 'West, Mrs. Edwy Arthur (Ada Mary Worth)': 1,
 'Morley, Mr. William': 1,
 'Gee, Mr. Arthur H': 1,
 'Milling, Mr. Jacob Christian': 1,
 'Maisner, Mr. Simon': 1,
 'Goncalves, Mr. Manuel Estanslas': 1,
 'Campbell, Mr. William': 1,
 'Smart, Mr. John Montgomery': 1,
 'Scanlan, Mr. James': 1,
 'Baclini, Miss. Helene Barbara': 1,
 'Keefe, Mr. Arthur': 1,
 'Cacic, Mr. Luka': 1,
 'Calic, Mr. Petar': 1,
 'Canavan, Miss. Mary': 1,
 "O'Sullivan, Miss. Bridget Mary": 1,
 'Andersson, Miss. Sigrid Elisabeth': 1,
 'Toufik, Mr. Nakli': 1,
 'Elias, Mr. Joseph Jr': 1,
 'Peter, Mrs. Catherine (Catherine Rizk)': 1,
 'Cacic, Miss. Marija': 1,
 'Hart, Miss. Eva Miriam': 1,
 'Butt, Major. Archibald Willingham': 1,
 'LeRoy, Miss. Bertha': 1,
 'Risien, Mr. Samuel Beard': 1,
 'Frolicher, Miss. Hedwig Margaritha': 1,
 'Crosby, Miss. Harriet R': 1,
 'Andersson, Miss. Ingeborg Constanzia': 1,
 'Beane, Mr. Edward': 1,
 'Laitinen, Miss. Kristina Sofia': 1,
 'Douglas, Mr. Walter Donald': 1,
 'Nicholson, Mr. Arthur Ernest': 1,
 'Beane, Mrs. Edward (Ethel Clarke)': 1,
 'Padro y Manent, Mr. Julian': 1,
 'Goldsmith, Mr. Frank John': 1,
 'Davies, Master. John Morgan Jr': 1,
 'Thayer, Mr. John Borland Jr': 1,
 'Sharp, Mr. Percival James R': 1,
 "O'Brien, Mr. Timothy": 1,
 'Leeni, Mr. Fahim ("Philip Zenni")': 1,
 'Ohman, Miss. Velin': 1,
 'Quick, Miss. Phyllis May': 1,
 'Hocking, Mr. Richard George': 1,
 'Salonen, Mr. Johan Werner': 1,
 'Farthing, Mr. John': 1,
 'Maioni, Miss. Roberta': 1,
 'Penasco y Castellana, Mr. Victor de Satode': 1,
 'Quick, Mrs. Frederick Charles (Jane Richards)': 1,
 'Bradley, Mr. George ("George Arthur Brayton")': 1,
 'Olsen, Mr. Henry Margido': 1,
 'Lang, Mr. Fang': 1,
 'Daly, Mr. Eugene Patrick': 1,
 'Webber, Mr. James': 1,
 'McGough, Mr. James Robert': 1,
 'Rothschild, Mrs. Martin (Elizabeth L. Barrett)': 1,
 'Coleff, Mr. Satio': 1,
 'Walker, Mr. William Anderson': 1,
 'Lemore, Mrs. (Amelia Milley)': 1,
 'Ryan, Mr. Patrick': 1,
 'Angle, Mrs. William A (Florence "Mary" Agnes Hughes)': 1,
 'Pavlovic, Mr. Stefo': 1,
 'Perreault, Miss. Anne': 1,
 'Vovk, Mr. Janko': 1,
 'Lahoud, Mr. Sarkis': 1,
 'Hippach, Mrs. Louis Albert (Ida Sophia Fischer)': 1,
 'Kassem, Mr. Fared': 1,
 'Farrell, Mr. James': 1,
 'Ridsdale, Miss. Lucy': 1,
 'Rommetvedt, Mr. Knud Paust': 1,
 'Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)': 1,
 'Mellinger, Miss. Madeleine Violet': 1,
 'Lulic, Mr. Nikola': 1,
 'Alexander, Mr. William': 1,
 'Lester, Mr. James': 1,
 'Slemen, Mr. Richard James': 1,
 'Andersson, Miss. Ebba Iris Alfrida': 1,
 'Tomlin, Mr. Ernest Portage': 1,
 'Fry, Mr. Richard': 1,
 'Heininen, Miss. Wendla Maria': 1,
 'Mallet, Mr. Albert': 1,
 'Holm, Mr. John Fredrik Alexander': 1,
 'Skoog, Master. Karl Thorsten': 1,
 'Hays, Mrs. Charles Melville (Clara Jennings Gregg)': 1,
 'Reuchlin, Jonkheer. John George': 1,
 'Meyer, Mr. August': 1,
 'Moor, Mrs. (Beila)': 1,
 'Panula, Master. Urho Abraham': 1,
 'Flynn, Mr. John': 1,
 'Lam, Mr. Len': 1,
 'Mallet, Master. Andre': 1,
 'McCormack, Mr. Thomas Joseph': 1,
 'Stone, Mrs. George Nelson (Martha Evelyn)': 1,
 'Yasbeck, Mrs. Antoni (Selini Alexander)': 1,
 'Richards, Master. George Sibley': 1,
 'Saad, Mr. Amin': 1,
 'Augustsson, Mr. Albert': 1,
 'Chambers, Mrs. Norman Campbell (Bertha Griggs)': 1,
 'Pettersson, Miss. Ellen Natalia': 1,
 'Compton, Miss. Sara Rebecca': 1,
 'Hoyt, Mr. William Fisher': 1,
 'Long, Mr. Milton Clyde': 1,
 'Johnston, Mr. Andrew G': 1,
 'Ali, Mr. William': 1,
 'Harmer, Mr. Abraham (David Lishin)': 1,
 'Sjoblom, Miss. Anna Sofia': 1,
 'Rice, Master. George Hugh': 1,
 'Dean, Master. Bertram Vere': 1,
 'Guggenheim, Mr. Benjamin': 1,
 'Keane, Mr. Andrew "Andy"': 1,
 'Gaskell, Mr. Alfred': 1,
 'Sage, Miss. Stella Anna': 1,
 'Dantcheff, Mr. Ristiu': 1,
 'Andrews, Mr. Thomas Jr': 1,
 'Otter, Mr. Richard': 1,
 'Leader, Dr. Alice (Farnham)': 1,
 'Osman, Mrs. Mara': 1,
 'Ibrahim Shawah, Mr. Yousseff': 1,
 'Van Impe, Mrs. Jean Baptiste (Rosalie Paula Govaert)': 1,
 'Ponesell, Mr. Martin': 1,
 'Collyer, Mrs. Harvey (Charlotte Annie Tate)': 1,
 'Carter, Master. William Thornton II': 1,
 'Thomas, Master. Assad Alexander': 1,
 'Hedman, Mr. Oskar Arvid': 1,
 'Johansson, Mr. Karl Johan': 1,
 'Allum, Mr. Owen George': 1,
 'Pasic, Mr. Jakob': 1,
 'Brown, Mrs. Thomas William Solomon (Elizabeth Catherine Ford)': 1,
 'Petroff, Mr. Nedelio': 1,
 'Duran y More, Miss. Asuncion': 1,
 'Roebling, Mr. Washington Augustus II': 1,
 'van Melkebeke, Mr. Philemon': 1,
 'Johnson, Master. Harold Theodor': 1,
 'Balkic, Mr. Cerin': 1,
 'Beckwith, Mrs. Richard Leonard (Sallie Monypeny)': 1,
 'Carlsson, Mr. Frans Olof': 1,
 'Vander Cruyssen, Mr. Victor': 1,
 'Abelson, Mrs. Samuel (Hannah Wizosky)': 1,
 'Najib, Miss. Adele Kiamie "Jane"': 1,
 'Gustafsson, Mr. Alfred Ossian': 1,
 'Laleff, Mr. Kristo': 1,
 'Gill, Mr. John William': 1,
 'Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)': 1,
 'Shelley, Mrs. William (Imanita Parrish Hall)': 1,
 'Markun, Mr. Johann': 1,
 'Dahlberg, Miss. Gerda Ulrika': 1,
 'Banfield, Mr. Frederick James': 1,
 'Sutehall, Mr. Henry Jr': 1,
 'Rice, Mrs. William (Margaret Norton)': 1,
 'Montvila, Rev. Juozas': 1,
 'Graham, Miss. Margaret Edith': 1,
 'Johnston, Miss. Catherine Helen "Carrie"': 1,
 'Behr, Mr. Karl Howell': 1,
 'Bystrom, Mrs. (Karolina)': 1,
 'Sage, Miss. Dorothy Edith "Dolly"': 1,
 'Sirota, Mr. Maurice': 1,
 'Goldenberg, Mrs. Samuel L (Edwiga Grabowska)': 1,
 'Chip, Mr. Chang': 1,
 'Marechal, Mr. Pierre': 1,
 'Alhomaki, Mr. Ilmari Rudolf': 1,
 'Mudd, Mr. Thomas Charles': 1,
 'Serepeca, Miss. Augusta': 1,
 'Lemberopolous, Mr. Peter L': 1,
 'Culumovic, Mr. Jeso': 1,
 'Abbing, Mr. Anthony': 1,
 'Sage, Mr. Douglas Bullen': 1,
 'Markoff, Mr. Marin': 1,
 'Harper, Rev. John': 1,
 'Andersson, Master. Sigvard Harald Elias': 1,
 'Swift, Mrs. Frederick Joel (Margaret Welles Barron)': 1,
 'Svensson, Mr. Johan': 1,
 'Boulos, Miss. Nourelain': 1,
 'Lines, Miss. Mary Conover': 1,
 'Carter, Mrs. Ernest Courtenay (Lilian Hughes)': 1,
 'Aks, Mrs. Sam (Leah Rosen)': 1,
 'Wick, Mrs. George Dennick (Mary Hitchcock)': 1,
 'Daly, Mr. Peter Denis ': 1,
 'Baclini, Mrs. Solomon (Latifa Qurban)': 1,
 'Razi, Mr. Raihed': 1,
 'Hansen, Mr. Claus Peter': 1,
 'Giles, Mr. Frederick Edward': 1,
 'Dick, Mrs. Albert Adrian (Vera Gillespie)': 1,
 'Ayoub, Miss. Banoura': 1,
 'Robert, Mrs. Edward Scott (Elisabeth Walton McMillan)': 1,
 'Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")': 1,
 'Humblen, Mr. Adolf Mathias Nicolai Olsen': 1,
 'Astor, Mrs. John Jacob (Madeleine Talmadge Force)': 1,
 'Silverthorne, Mr. Spencer Victor': 1,
 'Barbara, Miss. Saiide': 1,
 'Gallagher, Mr. Martin': 1,
 'Hansen, Mr. Henrik Juul': 1,
 'Morley, Mr. Henry Samuel ("Mr Henry Marshall")': 1,
 'Kelly, Mrs. Florence "Fannie"': 1,
 'Calderhead, Mr. Edward Pennington': 1,
 'Cleaver, Miss. Alice': 1,
 'Moubarek, Master. Halim Gonios ("William George")': 1,
 'Klaber, Mr. Herman': 1,
 'Mullens, Miss. Katherine "Katie"': 1,
 'Taylor, Mr. Elmer Zebley': 1,
 'Larsson, Mr. August Viktor': 1,
 'Greenberg, Mr. Samuel': 1,
 'Soholt, Mr. Peter Andreas Lauritz Andersen': 1,
 'Endres, Miss. Caroline Louise': 1,
 'Troutt, Miss. Edwina Celia "Winnie"': 1,
 'McEvoy, Mr. Michael': 1,
 'Johnson, Mr. Malkolm Joackim': 1,
 'Harper, Miss. Annie Jessie "Nina"': 1,
 'Jensen, Mr. Svend Lauritz': 1,
 'Gillespie, Mr. William Henry': 1,
 'Thayer, Mr. John Borland': 1,
 'Kelly, Mr. James': 1,
 'Kilgannon, Mr. Thomas J': 1,
 'Olsvigen, Mr. Thor Anderson': 1,
 'Davidson, Mr. Thornton': 1,
 'Mitchell, Mr. Henry Michael': 1,
 'Wilhelms, Mr. Charles': 1,
 'Watson, Mr. Ennis Hastings': 1,
 'Edvardsson, Mr. Gustaf Hjalmar': 1,
 'Sawyer, Mr. Frederick Charles': 1,
 'Turja, Miss. Anna Sofia': 1,
 'Goodwin, Mrs. Frederick (Augusta Tyler)': 1,
 'Cardeza, Mr. Thomas Drake Martinez': 1,
 'Peters, Miss. Katie': 1,
 'Hassab, Mr. Hammad': 1,
 'Goodwin, Mr. Charles Edward': 1,
 'Chapman, Mr. Charles Henry': 1,
 'Brown, Mr. Thomas William Solomon': 1,
 'Laroche, Mr. Joseph Philippe Lemercier': 1,
 'Panula, Mr. Jaako Arnold': 1,
 'Dakic, Mr. Branko': 1,
 'Fischer, Mr. Eberhard Thelander': 1,
 'Madill, Miss. Georgette Alexandra': 1,
 'Dick, Mr. Albert Adrian': 1,
 'Karun, Miss. Manca': 1,
 'Lam, Mr. Ali': 1,
 'Saad, Mr. Khalil': 1,
 'Weir, Col. John': 1,
 'Hodges, Mr. Henry Price': 1,
 'Chambers, Mr. Norman Campbell': 1,
 'Oreskovic, Mr. Luka': 1,
 'Hogeboom, Mrs. John C (Anna Andrews)': 1,
 'Herman, Mrs. Samuel (Jane Laver)': 1,
 'Hamalainen, Master. Viljo': 1,
 'Carlsson, Mr. August Sigfrid': 1,
 'Bailey, Mr. Percy Andrew': 1,
 'Theobald, Mr. Thomas Leonard': 1,
 'Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards)': 1,
 'Garfirth, Mr. John': 1,
 'Nirva, Mr. Iisakki Antino Aijo': 1,
 'Barah, Mr. Hanna Assi': 1,
 'Carter, Mrs. William Ernest (Lucile Polk)': 1,
 'Eklund, Mr. Hans Linus': 1,
 'Brewe, Dr. Arthur Jackson': 1,
 'Renouf, Mrs. Peter Henry (Lillian Jefferys)': 1,
 'Mangan, Miss. Mary': 1,
 'Moran, Mr. Daniel J': 1,
 'Gronnestad, Mr. Daniel Danielsen': 1,
 'Lievens, Mr. Rene Aime': 1,
 'Jensen, Mr. Niels Peder': 1,
 'Mack, Mrs. (Mary)': 1,
 'Elias, Mr. Dibo': 1,
 'Hocking, Mrs. Elizabeth (Eliza Needs)': 1,
 'Myhrman, Mr. Pehr Fabian Oliver Malkolm': 1,
 'Tobin, Mr. Roger': 1,
 'Emanuel, Miss. Virginia Ethel': 1,
 'Jonkoff, Mr. Lalio': 1,
 'Vande Velde, Mr. Johannes Joseph': 1,
 'Moor, Master. Meier': 1,
 'Wells, Miss. Joan': 1,
 'Mannion, Miss. Margareth': 1,
 'Bryhl, Mr. Kurt Arnold Gottfrid': 1,
 'Ilmakangas, Miss. Pieta Sofia': 1,
 'Allen, Miss. Elisabeth Walton': 1,
 'Hassan, Mr. Houssein G N': 1,
 'Knight, Mr. Robert J': 1,
 'Berriman, Mr. William John': 1,
 'Troupiansky, Mr. Moses Aaron': 1,
 'Williams, Mr. Leslie': 1,
 'Ford, Mrs. Edward (Margaret Ann Watson)': 1,
 'Lesurer, Mr. Gustave J': 1,
 'Ivanoff, Mr. Kanio': 1,
 'Nankoff, Mr. Minko': 1,
 'Hawksford, Mr. Walter James': 1,
 'Cavendish, Mr. Tyrell William': 1,
 'Ryerson, Miss. Susan Parker "Suzette"': 1,
 'McNamee, Mr. Neal': 1,
 'Stranden, Mr. Juho': 1,
 'Crosby, Capt. Edward Gifford': 1,
 'Abbott, Mr. Rossmore Edward': 1,
 'Sinkkonen, Miss. Anna': 1,
 'Marvin, Mr. Daniel Warner': 1,
 'Connaghton, Mr. Michael': 1,
 'Seward, Mr. Frederic Kimber': 1,
 'Dodge, Master. Washington': 1,
 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)': 1,
 'Meo, Mr. Alfonzo': 1,
 'Nysten, Miss. Anna Sofia': 1,
 'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)': 1,
 'Burke, Mr. Jeremiah': 1,
 'Andrew, Mr. Edgardo Samuel': 1,
 'Nicholls, Mr. Joseph Charles': 1,
 'Andersson, Mr. August Edvard ("Wennerstrom")': 1,
 'Ford, Miss. Robina Maggie "Ruby"': 1,
 'Navratil, Mr. Michel ("Louis M Hoffman")': 1,
 'Byles, Rev. Thomas Roussel Davids': 1,
 'Bateman, Rev. Robert James': 1,
 'Pears, Mrs. Thomas (Edith Wearne)': 1,
 'van Billiard, Mr. Austin Blyler': 1,
 'Giglio, Mr. Victor': 1,
 'Olsen, Mr. Ole Martin': 1,
 'Williams, Mr. Charles Duane': 1,
 'Gilnagh, Miss. Katherine "Katie"': 1,
 'Corn, Mr. Harry': 1,
 'Smiljanic, Mr. Mile': 1,
 'Sage, Master. Thomas Henry': 1,
 'Cribb, Mr. John Hatfield': 1,
 'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)': 1,
 'Bengtsson, Mr. John Viktor': 1,
 'Calic, Mr. Jovo': 1,
 'Panula, Master. Eino Viljami': 1,
 'Boulos, Mrs. Joseph (Sultana)': 1,
 'Osen, Mr. Olaf Elon': 1,
 'Chibnall, Mrs. (Edith Martha Bowerman)': 1,
 'White, Mr. Percival Wayland': 1,
 'Jussila, Miss. Katriina': 1,
 'Attalah, Miss. Malake': 1,
 'Pekoniemi, Mr. Edvard': 1,
 'Connors, Mr. Patrick': 1,
 'Turpin, Mr. William John Robert': 1,
 'Baxter, Mr. Quigg Edmond': 1,
 'Andersson, Miss. Ellis Anna Maria': 1,
 'Hickman, Mr. Stanley George': 1,
 'Moore, Mr. Leonard Charles': 1,
 'Nasser, Mr. Nicholas': 1,
 'Webber, Miss. Susan': 1,
 'Nicola-Yarred, Master. Elias': 1,
 'Futrelle, Mr. Jacques Heath': 1,
 'McMahon, Mr. Martin': 1,
 'Madsen, Mr. Fridtjof Arne': 1,
 'Peter, Miss. Anna': 1,
 'Ekstrom, Mr. Johan': 1,
 'Drazenoic, Mr. Jozef': 1,
 'Coelho, Mr. Domingos Fernandeo': 1,
 'Robins, Mrs. Alexander A (Grace Charity Laury)': 1,
 'Weisz, Mrs. Leopold (Mathilde Francoise Pede)': 1,
 'Sobey, Mr. Samuel James Hayden': 1,
 'Richard, Mr. Emile': 1,
 'Newsom, Miss. Helen Monypeny': 1,
 'Goldsmith, Master. Frank John William "Frankie"': 1,
 'Skoog, Mrs. William (Anna Bernhardina Karlsson)': 1,
 'Green, Mr. George Henry': 1,
 'Carr, Miss. Helen "Ellen"': 1,
 'Olsen, Mr. Karl Siegwart Andreas': 1,
 'Madigan, Miss. Margaret "Maggie"': 1,
 'Yrois, Miss. Henriette ("Mrs Harbeck")': 1,
 'Vande Walle, Mr. Nestor Cyriel': 1,
 'Sage, Mr. Frederick': 1,
 'Johanson, Mr. Jakob Alfred': 1,
 'Youseff, Mr. Gerious': 1,
 'Cohen, Mr. Gurshon "Gus"': 1,
 'Strom, Miss. Telma Matilda': 1,
 'Backstrom, Mr. Karl Alfred': 1,
 'Albimona, Mr. Nassef Cassem': 1,
 'Blank, Mr. Henry': 1,
 'Lurette, Miss. Elise': 1,
 'Ali, Mr. Ahmed': 1,
 'Cameron, Miss. Clear Annie': 1,
 'Perkin, Mr. John Henry': 1,
 'Givard, Mr. Hans Kristensen': 1,
 'Kiernan, Mr. Philip': 1,
 'Newell, Miss. Madeleine': 1,
 'Honkanen, Miss. Eliina': 1,
 'Jacobsohn, Mr. Sidney Samuel': 1,
 'Bazzani, Miss. Albina': 1,
 'Harris, Mr. Walter': 1,
 'Sunderland, Mr. Victor Francis': 1,
 'Mernagh, Mr. Robert': 1,
 'Brown, Mrs. James Joseph (Margaret Tobin)': 1,
 'Baumann, Mr. John D': 1,
 'Sage, Miss. Constance Gladys': 1,
 'Ling, Mr. Lee': 1,
 'Van der hoef, Mr. Wyckoff': 1,
 'Rice, Master. Arthur': 1,
 'Johnson, Miss. Eleanor Ileen': 1,
 'Sivola, Mr. Antti Wilhelm': 1,
 'Smith, Mr. James Clinch': 1,
 'Klasen, Mr. Klas Albin': 1,
 'Lefebre, Master. Henry Forbes': 1,
 'Isham, Miss. Ann Elizabeth': 1,
 'Hale, Mr. Reginald': 1,
 'Leonard, Mr. Lionel': 1,
 'Pernot, Mr. Rene': 1,
 'Navratil, Master. Michel M': 1,
 'Asplund, Master. Clarence Gustaf Hugo': 1,
 'Becker, Master. Richard F': 1,
 'Kink-Heilmann, Miss. Luise Gretchen': 1,
 'Rood, Mr. Hugh Roscoe': 1,
 'O\'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)': 1,
 'Romaine, Mr. Charles Hallace ("Mr C Rolmane")': 1,
 'Bourke, Mr. John': 1,
 'Turcin, Mr. Stjepan': 1,
 'Pinsky, Mrs. (Rosa)': 1,
 'Carbines, Mr. William': 1,
 'Andersen-Jensen, Miss. Carla Christine Nielsine': 1,
 'Barton, Mr. David John': 1,
 'Zabour, Miss. Hileni': 1,
 'Porter, Mr. Walter Chamberlain': 1,
 'Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)': 1,
 'Uruchurtu, Don. Manuel E': 1,
 'Spencer, Mrs. William Augustus (Marie Eugenie)': 1,
 'Glynn, Miss. Mary Agatha': 1,
 'Wheadon, Mr. Edward H': 1,
 'Meyer, Mr. Edgar Joseph': 1,
 'Holverson, Mr. Alexander Oskar': 1,
 'Mamee, Mr. Hanna': 1,
 'Cann, Mr. Ernest Charles': 1,
 'Vander Planke, Miss. Augusta Maria': 1,
 'Nicola-Yarred, Miss. Jamila': 1,
 'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)': 1,
 'Kraeff, Mr. Theodor': 1,
 'O\'Dwyer, Miss. Ellen "Nellie"': 1,
 'Laroche, Miss. Simonne Marie Anne Andree': 1,

In [12]:
df["Gender"].value_counts().to_dict()

{'male': 577, 'female': 314}

In [13]:
df["Age"].value_counts().to_dict()

{24.0: 30,
 22.0: 27,
 18.0: 26,
 19.0: 25,
 28.0: 25,
 30.0: 25,
 21.0: 24,
 25.0: 23,
 36.0: 22,
 29.0: 20,
 32.0: 18,
 35.0: 18,
 27.0: 18,
 26.0: 18,
 16.0: 17,
 31.0: 17,
 20.0: 15,
 34.0: 15,
 33.0: 15,
 23.0: 15,
 39.0: 14,
 40.0: 13,
 17.0: 13,
 42.0: 13,
 45.0: 12,
 38.0: 11,
 50.0: 10,
 2.0: 10,
 4.0: 10,
 44.0: 9,
 48.0: 9,
 47.0: 9,
 54.0: 8,
 9.0: 8,
 1.0: 7,
 51.0: 7,
 14.0: 6,
 52.0: 6,
 37.0: 6,
 49.0: 6,
 41.0: 6,
 3.0: 6,
 58.0: 5,
 15.0: 5,
 43.0: 5,
 62.0: 4,
 56.0: 4,
 5.0: 4,
 11.0: 4,
 60.0: 4,
 8.0: 4,
 6.0: 3,
 46.0: 3,
 61.0: 3,
 65.0: 3,
 7.0: 3,
 10.0: 2,
 64.0: 2,
 13.0: 2,
 63.0: 2,
 30.5: 2,
 57.0: 2,
 70.0: 2,
 0.75: 2,
 71.0: 2,
 59.0: 2,
 0.83: 2,
 40.5: 2,
 55.0: 2,
 32.5: 2,
 28.5: 2,
 45.5: 2,
 34.5: 1,
 0.42: 1,
 0.67: 1,
 66.0: 1,
 24.5: 1,
 80.0: 1,
 20.5: 1,
 53.0: 1,
 14.5: 1,
 70.5: 1,
 12.0: 1,
 36.5: 1,
 55.5: 1,
 0.92: 1,
 23.5: 1,
 74.0: 1}

In [14]:
df["SibSp"].value_counts().to_dict()

{0: 608, 1: 209, 2: 28, 4: 18, 3: 16, 8: 7, 5: 5}

In [15]:
df["Parch"].value_counts().to_dict()

{0: 678, 1: 118, 2: 80, 5: 5, 3: 5, 4: 4, 6: 1}

In [16]:
df["Ticket"].value_counts().to_dict()

{'347082': 7,
 'CA. 2343': 7,
 '1601': 7,
 '3101295': 6,
 'CA 2144': 6,
 '347088': 6,
 'S.O.C. 14879': 5,
 '382652': 5,
 'LINE': 4,
 'PC 17757': 4,
 '17421': 4,
 '349909': 4,
 '113760': 4,
 '4133': 4,
 '113781': 4,
 'W./C. 6608': 4,
 '2666': 4,
 '19950': 4,
 '347077': 4,
 'C.A. 31921': 3,
 'PC 17572': 3,
 'C.A. 34651': 3,
 '363291': 3,
 'F.C.C. 13529': 3,
 '345773': 3,
 '248727': 3,
 '24160': 3,
 '29106': 3,
 'SC/Paris 2123': 3,
 '35273': 3,
 '371110': 3,
 '230080': 3,
 'PC 17760': 3,
 '239853': 3,
 'PC 17582': 3,
 '347742': 3,
 '110152': 3,
 '13502': 3,
 '110413': 3,
 'PC 17755': 3,
 'PC 17558': 2,
 '237736': 2,
 '17474': 2,
 'PC 17758': 2,
 'PP 9549': 2,
 'S.O./P.P. 3': 2,
 'P/PP 3381': 2,
 'PC 17485': 2,
 '2668': 2,
 '2627': 2,
 'PC 17604': 2,
 '2653': 2,
 '2665': 2,
 '113798': 2,
 '31027': 2,
 '2908': 2,
 'W./C. 6607': 2,
 'WE/P 5735': 2,
 '35281': 2,
 '113789': 2,
 '244367': 2,
 '231919': 2,
 '110465': 2,
 'PC 17477': 2,
 '2699': 2,
 '367226': 2,
 '113806': 2,
 '230136': 2,
 '111361': 2,
 '113505': 2,
 '113803': 2,
 '370365': 2,
 '364849': 2,
 '358585': 2,
 '250644': 2,
 'C.A. 37671': 2,
 '250647': 2,
 '16966': 2,
 '36928': 2,
 '113776': 2,
 '392096': 2,
 'C.A. 33112': 2,
 'A/4 48871': 2,
 'STON/O2. 3101279': 2,
 '2691': 2,
 '2678': 2,
 'PC 17593': 2,
 '7534': 2,
 'PC 17608': 2,
 '11767': 2,
 '347054': 2,
 '243847': 2,
 'PC 17761': 2,
 '28403': 2,
 '244252': 2,
 '11668': 2,
 '2659': 2,
 '2661': 2,
 'C.A. 2673': 2,
 '370129': 2,
 '36973': 2,
 '113572': 2,
 '13507': 2,
 'A/5. 3336': 2,
 '17453': 2,
 '19928': 2,
 '347080': 2,
 '367230': 2,
 '54636': 2,
 '250655': 2,
 'PC 17569': 2,
 '26360': 2,
 '376564': 2,
 '11967': 2,
 '19877': 2,
 '220845': 2,
 'PC 17611': 2,
 'C.A. 2315': 2,
 '36947': 2,
 '11751': 2,
 '230433': 2,
 '345764': 2,
 '2651': 2,
 '239865': 2,
 '19943': 2,
 '3101278': 2,
 '250649': 2,
 '29750': 2,
 '364516': 2,
 '248738': 2,
 '12749': 2,
 '19996': 2,
 'S.C./PARIS 2079': 2,
 '349237': 2,
 'STON/O 2. 3101273': 1,
 '349224': 1,
 'A./5. 3235': 1,
 '14973': 1,
 'SC/AH 29037': 1,
 '219533': 1,
 'A/5 3902': 1,
 '364848': 1,
 '349214': 1,
 '36963': 1,
 '31028': 1,
 '349910': 1,
 '349246': 1,
 '347743': 1,
 '113804': 1,
 '364511': 1,
 'SOTON/O.Q. 3101305': 1,
 '364512': 1,
 '11753': 1,
 '334912': 1,
 '113796': 1,
 '111426': 1,
 '27042': 1,
 '350029': 1,
 '13214': 1,
 '2664': 1,
 '112052': 1,
 '370377': 1,
 'A/5 21171': 1,
 '13567': 1,
 'PC 17473': 1,
 '364846': 1,
 '330909': 1,
 '4135': 1,
 '111427': 1,
 'C 4001': 1,
 '382651': 1,
 'SOTON/OQ 3101316': 1,
 'PC 17603': 1,
 '350035': 1,
 '349209': 1,
 '36967': 1,
 'C.A. 34260': 1,
 '226875': 1,
 '349242': 1,
 '349252': 1,
 '2624': 1,
 '315086': 1,
 'C.A. 6212': 1,
 '237565': 1,
 '239854': 1,
 '323592': 1,
 '315089': 1,
 'SC/AH Basle 541': 1,
 '7553': 1,
 '3460': 1,
 '350060': 1,
 '3101298': 1,
 'A/5 3594': 1,
 'A/4 45380': 1,
 '4134': 1,
 '11771': 1,
 'A.5. 18509': 1,
 '65304': 1,
 'SOTON/OQ 3101317': 1,
 '113787': 1,
 'PC 17609': 1,
 '2700': 1,
 '367232': 1,
 'W./C. 14258': 1,
 'PC 17474': 1,
 'SOTON/OQ 392082': 1,
 'SOTON/O.Q. 392087': 1,
 '349205': 1,
 '2686': 1,
 '350417': 1,
 'S.W./PP 752': 1,
 '11769': 1,
 '14312': 1,
 'PC 17483': 1,
 'A/4. 20589': 1,
 '243880': 1,
 '2689': 1,
 'STON/O 2. 3101286': 1,
 '237789': 1,
 '13049': 1,
 '3411': 1,
 '218629': 1,
 '349251': 1,
 '372622': 1,
 '345572': 1,
 '3101296': 1,
 '29104': 1,
 '2641': 1,
 '2690': 1,
 '315084': 1,
 '113050': 1,
 '364498': 1,
 '13568': 1,
 '693': 1,
 'SC/PARIS 2146': 1,
 '244358': 1,
 '330979': 1,
 '2620': 1,
 '347085': 1,
 '11755': 1,
 '113807': 1,
 '342826': 1,
 '237668': 1,
 '3474': 1,
 '2685': 1,
 '2625': 1,
 '347089': 1,
 '347063': 1,
 '112050': 1,
 '347087': 1,
 '248723': 1,
 '28206': 1,
 '2671': 1,
 '364499': 1,
 '112058': 1,
 'STON/O2. 3101290': 1,
 'C 7075': 1,
 '315098': 1,
 '19972': 1,
 '368323': 1,
 '349244': 1,
 '17465': 1,
 '28213': 1,
 '349203': 1,
 '8471': 1,
 '345781': 1,
 '350047': 1,
 '2674': 1,
 '29105': 1,
 '347078': 1,
 '383121': 1,
 '36865': 1,
 '2687': 1,
 '113501': 1,
 'SOTON/O.Q. 3101312': 1,
 '374887': 1,
 '3101265': 1,
 '12460': 1,
 'PC 17600': 1,
 '367228': 1,
 '347468': 1,
 'STON/O 2. 3101292': 1,
 '349212': 1,
 'SC/PARIS 2149': 1,
 'PC 17590': 1,
 '345777': 1,
 '349248': 1,
 '695': 1,
 '345765': 1,
 '2667': 1,
 '349217': 1,
 '2223': 1,
 '349257': 1,
 '7552': 1,
 'C.A./SOTON 34068': 1,
 'SOTON/OQ 392076': 1,
 '211536': 1,
 '112053': 1,
 '111369': 1,
 '236852': 1,
 '233866': 1,
 '17466': 1,
 '28134': 1,
 'PC 17756': 1,
 '315097': 1,
 '392092': 1,
 '11774': 1,
 'SOTON/O2 3101287': 1,
 '2683': 1,
 '315090': 1,
 'C.A. 5547': 1,
 '349213': 1,
 '347060': 1,
 'PC 17592': 1,
 '392091': 1,
 '113055': 1,
 '2629': 1,
 '350026': 1,
 '364850': 1,
 '112379': 1,
 '347074': 1,
 '6563': 1,
 'C.A. 24580': 1,
 '244270': 1,
 '239856': 1,
 '349912': 1,
 '113792': 1,
 '4138': 1,
 '330935': 1,
 '349228': 1,
 '2663': 1,
 '350036': 1,
 '349256': 1,
 '2672': 1,
 '113800': 1,
 '248731': 1,
 '363592': 1,
 '35852': 1,
 'F.C. 12750': 1,
 'A/5 3536': 1,
 '312993': 1,
 '234686': 1,
 '350050': 1,
 '349231': 1,
 '13213': 1,
 'S.O./P.P. 751': 1,
 'CA. 2314': 1,
 '349221': 1,
 '8475': 1,
 '330919': 1,
 '365226': 1,
 '349223': 1,
 '29751': 1,
 '2623': 1,
 '5727': 1,
 '349210': 1,
 'STON/O 2. 3101285': 1,
 '348121': 1,
 'PC 17475': 1,
 '36864': 1,
 '28425': 1,
 '349201': 1,
 '349218': 1,
 '16988': 1,
 '376566': 1,
 'STON/O 2. 3101288': 1,
 '250648': 1,
 '113773': 1,
 '335097': 1,
 '29103': 1,
 '345780': 1,
 '349204': 1,
 '350042': 1,
 '29108': 1,
 '363294': 1,
 'SOTON/O2 3101272': 1,
 '233639': 1,
 '239855': 1,
 '350025': 1,
 'STON/O2. 3101271': 1,
 '223596': 1,
 'PC 17476': 1,
 'PC 17482': 1,
 '113028': 1,
 '7545': 1,
 '348124': 1,
 '34218': 1,
 '36568': 1,
 '347062': 1,
 '350048': 1,
 '12233': 1,
 '250643': 1,
 '315094': 1,
 '36866': 1,
 '236853': 1,
 '36209': 1,
 '244278': 1,
 'SOTON/O.Q. 3101306': 1,
 'SOTON/OQ 392090': 1,
 'S.O.P. 1166': 1,
 'A.5. 11206': 1,
 'A/5. 851': 1,
 'Fa 265302': 1,
 'PC 17597': 1,
 '35851': 1,
 '315037': 1,
 '350043': 1,
 '371362': 1,
 'C.A. 33595': 1,
 '347068': 1,
 '315093': 1,
 'PC 17318': 1,
 '111240': 1,
 '244310': 1,
 '231945': 1,
 '17764': 1,
 '349241': 1,
 '370369': 1,
 'A4. 54510': 1,
 '27267': 1,
 '370372': 1,
 'C 17369': 1,
 '347061': 1,
 'SOTON/O.Q. 3101307': 1,
 '365222': 1,
 'A/5. 3337': 1,
 '228414': 1,
 'C.A. 29178': 1,
 'SC/PARIS 2133': 1,
 '11752': 1,
 '347081': 1,
 'STON/O 2. 3101280': 1,
 '350404': 1,
 'A/S 2816': 1,
 '367229': 1,
 '367231': 1,
 '112277': 1,
 'SOTON/O.Q. 3101311': 1,
 'F.C.C. 13528': 1,
 'A/5 21174': 1,
 '250646': 1,
 'STON/O2. 3101283': 1,
 '2628': 1,
 '11813': 1,
 'W/C 14208': 1,
 'SOTON/OQ 392089': 1,
 '220367': 1,
 '21440': 1,
 '349234': 1,
 'A/5 3540': 1,
 '3101264': 1,
 'PC 17595': 1,
 '234604': 1,
 '250653': 1,
 'SC/PARIS 2131': 1,
 '315153': 1,
 '113767': 1,
 '111428': 1,
 '349247': 1,
 '28424': 1,
 '345770': 1,
 '350046': 1,
 'PC 17610': 1,
 '368703': 1,
 '4579': 1,
 '370370': 1,
 '248747': 1,
 'STON/O 2. 3101294': 1,
 '4136': 1,
 '324669': 1,
 '330958': 1,
 '335677': 1,
 'C.A. 24579': 1,
 '2677': 1,
 'A./5. 2152': 1,
 '7546': 1,
 '349253': 1,
 'S.C./A.4. 23567': 1,
 '349216': 1,
 '370371': 1,
 '14311': 1,
 '2662': 1,
 'A/4. 39886': 1,
 '2926': 1,
 '113509': 1,
 'PC 17601': 1,
 '330959': 1,
 '349249': 1,
 '350406': 1,
 'STON/O2. 3101282': 1,
 '373450': 1,
 '330877': 1,
 '17463': 1,
 '113783': 1,
 'A/5. 2151': 1,
 '248706': 1,
 '2631': 1,
 '244373': 1,
 '345763': 1,
 '2649': 1,
 '248698': 1,
 '330923': 1,
 '113788': 1,
 '19947': 1,
 'C.A. 31026': 1,
 '2697': 1,
 'PC 17759': 1,
 '343276': 1,
 '347466': 1,
 'W.E.P. 5734': 1,
 '364500': 1,
 '374910': 1,
 'PC 17754': 1,
 '349245': 1,
 '2669': 1,
 '349215': 1,
 '7540': 1,
 '3101276': 1,
 '349207': 1,
 '343120': 1,
 '312991': 1,
 '343275': 1,
 'SOTON/OQ 392086': 1,
 'SO/C 14885': 1,
 '113059': 1,
 '330932': 1,
 '345779': 1,
 '345767': 1,
 '374746': 1,
 '349208': 1,
 '348123': 1,
 '2680': 1,
 'C.A. 33111': 1,
 '315151': 1,
 '3101281': 1,
 'S.P. 3464': 1,
 'C.A. 29395': 1,
 'PC 17605': 1,
 'PP 4348': 1,
 'SW/PP 751': 1,
 'A/5 21173': 1,
 '341826': 1,
 '3101277': 1,
 '350052': 1,
 '350407': 1,
 'PC 17599': 1,
 '240929': 1,
 'STON/O 2. 3101289': 1,
 '4137': 1,
 'SC 1748': 1,
 '315096': 1,
 '28664': 1,
 '347064': 1,
 '312992': 1,
 '349222': 1,
 '394140': 1,
 '350034': 1,
 '367655': 1,
 '330980': 1,
 '3101267': 1,
 'SOTON/O.Q. 3101310': 1,
 'C 7076': 1,
 '110813': 1,
 '2626': 1,
 '14313': 1,
 '11765': 1,
 '323951': 1,
 '27849': 1,
 'C 7077': 1,
 '113503': 1,
 '2648': 1,
 '347069': 1,
 'STON/O 2. 3101293': 1,
 '349227': 1,
 'STON/O 2. 3101269': 1,
 '343095': 1,
 '28220': 1,
 '13509': 1,
 '113794': 1,
 '113786': 1,
 '65303': 1,
 '113051': 1,
 'A/5 2817': 1,
 '349240': 1,
 '17464': 1,
 '250652': 1,
 'F.C.C. 13531': 1,
 '371060': 1,
 '19952': 1,
 '364506': 1,
 '111320': 1,
 '234360': 1,
 '33638': 1,
 '65306': 1,
 '230434': 1,
 '347076': 1,
 '345769': 1,
 'C.A. 18723': 1,
 'STON/O 2. 3101274': 1,
 'SC/AH 3085': 1,
 '110564': 1,
 'SOTON/O.Q. 392078': 1,
 '364851': 1,
 '2003': 1,
 'A/4. 34244': 1,
 '315082': 1,
 'A/5. 13032': 1,
 '349254': 1,
 '28228': 1,
 'SC/PARIS 2167': 1,
 '330931': 1,
 '236171': 1,
 '347464': 1,
 'C.A. 17248': 1,
 '347083': 1,
 'PC 17596': 1,
 '370375': 1,
 '347073': 1,
 '336439': 1,
 '345778': 1,
 '112059': 1,
 'A/5. 10482': 1,
 '113056': 1,
 '349239': 1,
 '345774': 1,
 '349206': 1,
 '237798': 1,
 '382649': 1,
 '384461': 1,
 '237671': 1,
 'SCO/W 1585': 1,
 '347067': 1,
 '237442': 1,
 'C.A. 29566': 1,
 'W./C. 6609': 1,
 '26707': 1,
 '28665': 1,
 'W./C. 14263': 1,
 'PC 17585': 1,
 'STON/O 2. 3101275': 1,
 '2694': 1,
 '347071': 1,
 '362316': 1,
 '113514': 1,
 '2650': 1,
 '370373': 1,
 'SC/Paris 2163': 1,
 '349236': 1,
 '31418': 1,
 '7598': 1,
 '113784': 1,
 '248740': 1,
 '244361': 1,
 '229236': 1,
 '248733': 1,
 '386525': 1,
 '349233': 1,
 '315088': 1,
 '7267': 1,
 '113510': 1,
 '2695': 1,
 '2647': 1,
 '345783': 1,
 '349225': 1,
 '113043': 1,
 '28551': 1,
 '345364': 1,
 '234818': 1,
 '349219': 1,
 'A/5 21172': 1,
 '29011': 1,
 '347470': 1,
 '349243': 1,
 '250651': 1,
 'A/5 2466': 1,
 '226593': 1,
 '9234': 1,
 '19988': 1,
 '2693': 1,
 'PC 17612': 1,
 '370376': 1}

In [17]:
df["Fare"].value_counts().to_dict()

{8.05: 43,
 13.0: 42,
 7.8958: 38,
 7.75: 34,
 26.0: 31,
 10.5: 24,
 7.925: 18,
 7.775: 16,
 7.2292: 15,
 0.0: 15,
 26.55: 15,
 7.8542: 13,
 8.6625: 13,
 7.25: 13,
 7.225: 12,
 9.5: 9,
 16.1: 9,
 24.15: 8,
 15.5: 8,
 14.4542: 7,
 69.55: 7,
 52.0: 7,
 7.05: 7,
 56.4958: 7,
 14.5: 7,
 31.275: 7,
 39.6875: 6,
 7.7958: 6,
 27.9: 6,
 30.0: 6,
 46.9: 6,
 26.25: 6,
 21.0: 6,
 27.7208: 5,
 29.125: 5,
 15.2458: 5,
 73.5: 5,
 30.5: 5,
 53.1: 5,
 39.0: 4,
 90.0: 4,
 15.85: 4,
 13.5: 4,
 7.55: 4,
 23.0: 4,
 12.475: 4,
 25.4667: 4,
 7.125: 4,
 7.65: 4,
 21.075: 4,
 7.7333: 4,
 11.5: 4,
 34.375: 4,
 7.8792: 4,
 19.2583: 4,
 227.525: 4,
 27.75: 4,
 263.0: 4,
 31.3875: 4,
 79.2: 4,
 151.55: 4,
 35.5: 4,
 120.0: 4,
 110.8833: 4,
 7.4958: 3,
 83.1583: 3,
 211.3375: 3,
 33.0: 3,
 20.525: 3,
 86.5: 3,
 12.35: 3,
 512.3292: 3,
 31.0: 3,
 113.275: 3,
 77.9583: 3,
 29.7: 3,
 135.6333: 3,
 26.2875: 3,
 153.4625: 3,
 79.65: 3,
 18.75: 3,
 52.5542: 3,
 14.4583: 3,
 76.7292: 3,
 41.5792: 3,
 11.1333: 3,
 18.0: 3,
 15.7417: 2,
 65.0: 2,
 134.5: 2,
 164.8667: 2,
 262.375: 2,
 82.1708: 2,
 56.9292: 2,
 108.9: 2,
 24.0: 2,
 133.65: 2,
 11.2417: 2,
 7.0542: 2,
 23.25: 2,
 78.85: 2,
 20.25: 2,
 17.8: 2,
 19.5: 2,
 57.9792: 2,
 9.225: 2,
 15.9: 2,
 106.425: 2,
 49.5042: 2,
 9.5875: 2,
 16.7: 2,
 30.0708: 2,
 93.5: 2,
 89.1042: 2,
 19.9667: 2,
 55.9: 2,
 83.475: 2,
 14.4: 2,
 71.0: 2,
 7.8292: 2,
 39.6: 2,
 146.5208: 2,
 69.3: 2,
 51.8625: 2,
 80.0: 2,
 91.0792: 2,
 78.2667: 2,
 27.0: 2,
 55.0: 2,
 9.825: 2,
 30.6958: 2,
 247.5208: 2,
 20.2125: 2,
 77.2875: 2,
 37.0042: 2,
 25.9292: 2,
 66.6: 2,
 6.4958: 2,
 10.4625: 2,
 23.45: 2,
 20.575: 2,
 18.7875: 2,
 9.35: 2,
 22.3583: 2,
 57.0: 2,
 36.75: 2,
 6.975: 2,
 29.0: 2,
 6.75: 2,
 7.7375: 2,
 9.0: 2,
 5.0: 1,
 14.1083: 1,
 9.8458: 1,
 39.4: 1,
 13.8625: 1,
 7.6292: 1,
 13.8583: 1,
 22.525: 1,
 49.5: 1,
 50.4958: 1,
 221.7792: 1,
 59.4: 1,
 34.0208: 1,
 51.4792: 1,
 17.4: 1,
 8.4583: 1,
 26.3875: 1,
 6.4375: 1,
 10.1708: 1,
 13.4167: 1,
 8.1375: 1,
 7.7417: 1,
 9.4833: 1,
 15.1: 1,
 9.8417: 1,
 25.5875: 1,
 8.4333: 1,
 8.3625: 1,
 32.3208: 1,
 8.6833: 1,
 8.5167: 1,
 7.8875: 1,
 15.55: 1,
 6.45: 1,
 6.95: 1,
 15.0: 1,
 8.7125: 1,
 40.125: 1,
 8.3: 1,
 42.4: 1,
 26.2833: 1,
 12.2875: 1,
 7.5208: 1,
 7.8: 1,
 61.9792: 1,
 8.1583: 1,
 71.2833: 1,
 12.275: 1,
 7.7875: 1,
 47.1: 1,
 61.175: 1,
 76.2917: 1,
 34.6542: 1,
 8.4042: 1,
 50.0: 1,
 22.025: 1,
 63.3583: 1,
 15.05: 1,
 28.7125: 1,
 8.6542: 1,
 33.5: 1,
 25.925: 1,
 15.75: 1,
 7.1417: 1,
 61.3792: 1,
 7.3125: 1,
 12.525: 1,
 15.0458: 1,
 12.875: 1,
 8.85: 1,
 21.6792: 1,
 12.65: 1,
 7.0458: 1,
 9.8375: 1,
 13.7917: 1,
 7.725: 1,
 38.5: 1,
 16.0: 1,
 81.8583: 1,
 8.1125: 1,
 7.875: 1,
 32.5: 1,
 6.8583: 1,
 8.0292: 1,
 9.475: 1,
 12.0: 1,
 7.7292: 1,
 9.2167: 1,
 4.0125: 1,
 211.5: 1,
 55.4417: 1,
 75.25: 1,
 35.0: 1,
 28.5: 1,
 6.2375: 1,
 14.0: 1,
 10.5167: 1}

In [18]:
df["Cabin"].value_counts().to_dict()

{'B96 B98': 4,
 'G6': 4,
 'C23 C25 C27': 4,
 'C22 C26': 3,
 'F33': 3,
 'F2': 3,
 'E101': 3,
 'D': 3,
 'C78': 2,
 'C93': 2,
 'E8': 2,
 'D36': 2,
 'B77': 2,
 'C123': 2,
 'E121': 2,
 'E44': 2,
 'D35': 2,
 'C125': 2,
 'E67': 2,
 'B35': 2,
 'B18': 2,
 'E24': 2,
 'B49': 2,
 'C65': 2,
 'B20': 2,
 'B5': 2,
 'B57 B59 B63 B66': 2,
 'C126': 2,
 'B51 B53 B55': 2,
 'F4': 2,
 'C124': 2,
 'F G73': 2,
 'B58 B60': 2,
 'C52': 2,
 'D33': 2,
 'C68': 2,
 'D20': 2,
 'D26': 2,
 'B28': 2,
 'C83': 2,
 'E25': 2,
 'D17': 2,
 'B22': 2,
 'C92': 2,
 'C2': 2,
 'E33': 2,
 'C70': 1,
 'E58': 1,
 'A16': 1,
 'C86': 1,
 'D19': 1,
 'D48': 1,
 'A26': 1,
 'B50': 1,
 'A20': 1,
 'C101': 1,
 'A10': 1,
 'A23': 1,
 'E68': 1,
 'D9': 1,
 'B41': 1,
 'D50': 1,
 'C85': 1,
 'B71': 1,
 'D49': 1,
 'B42': 1,
 'C50': 1,
 'A24': 1,
 'E17': 1,
 'D28': 1,
 'C47': 1,
 'E49': 1,
 'B69': 1,
 'B102': 1,
 'A36': 1,
 'B82 B84': 1,
 'D6': 1,
 'B3': 1,
 'F38': 1,
 'E77': 1,
 'D11': 1,
 'D30': 1,
 'C46': 1,
 'D45': 1,
 'B101': 1,
 'B38': 1,
 'C45': 1,
 'C90': 1,
 'C62 C64': 1,
 'F G63': 1,
 'B39': 1,
 'E10': 1,
 'C95': 1,
 'B86': 1,
 'C99': 1,
 'B94': 1,
 'C87': 1,
 'D15': 1,
 'A31': 1,
 'B80': 1,
 'B4': 1,
 'A32': 1,
 'C49': 1,
 'A7': 1,
 'B19': 1,
 'D47': 1,
 'D7': 1,
 'F E69': 1,
 'C110': 1,
 'D10 D12': 1,
 'A5': 1,
 'E31': 1,
 'B30': 1,
 'B78': 1,
 'A6': 1,
 'D56': 1,
 'C103': 1,
 'E46': 1,
 'C118': 1,
 'A19': 1,
 'B73': 1,
 'A34': 1,
 'D46': 1,
 'B79': 1,
 'C30': 1,
 'B37': 1,
 'A14': 1,
 'E63': 1,
 'E12': 1,
 'D21': 1,
 'E38': 1,
 'C111': 1,
 'C104': 1,
 'C82': 1,
 'C106': 1,
 'E50': 1,
 'D37': 1,
 'C128': 1,
 'T': 1,
 'E40': 1,
 'C91': 1,
 'C32': 1,
 'E34': 1,
 'C7': 1,
 'C54': 1,
 'E36': 1,
 'C148': 1}

In [19]:
df["Embarked"].value_counts().to_dict()

{'S': 644, 'C': 168, 'Q': 77}

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Gender       891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [21]:
x=df.drop(["PassengerId","Survived","Name","Cabin","Ticket"],axis=1)

In [22]:
y=df["Survived"]

In [23]:
x.replace({'male': 0, 'female': 1},inplace=True)

In [24]:
x

     Pclass  Gender   Age  SibSp  Parch     Fare Embarked
0         3       0  22.0      1      0   7.2500        S
1         1       1  38.0      1      0  71.2833        C
2         3       1  26.0      0      0   7.9250        S
3         1       1  35.0      1      0  53.1000        S
4         3       0  35.0      0      0   8.0500        S
..      ...     ...   ...    ...    ...      ...      ...
886       2       0  27.0      0      0  13.0000        S
887       1       1  19.0      0      0  30.0000        S
888       3       1   NaN      1      2  23.4500        S
889       1       0  26.0      0      0  30.0000        C
890       3       0  32.0      0      0   7.7500        Q

[891 rows x 7 columns]

In [25]:
x["Embarked"].replace({'S': 0, 'C': 1, 'Q': 2},inplace=True)

In [26]:
x

     Pclass  Gender   Age  SibSp  Parch     Fare  Embarked
0         3       0  22.0      1      0   7.2500       0.0
1         1       1  38.0      1      0  71.2833       1.0
2         3       1  26.0      0      0   7.9250       0.0
3         1       1  35.0      1      0  53.1000       0.0
4         3       0  35.0      0      0   8.0500       0.0
..      ...     ...   ...    ...    ...      ...       ...
886       2       0  27.0      0      0  13.0000       0.0
887       1       1  19.0      0      0  30.0000       0.0
888       3       1   NaN      1      2  23.4500       0.0
889       1       0  26.0      0      0  30.0000       1.0
890       3       0  32.0      0      0   7.7500       2.0

[891 rows x 7 columns]

In [27]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Gender    891 non-null    int64
 2   Age       714 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Embarked  889 non-null    float64
dtypes: float64(3), int64(4)
memory usage: 48.9 KB

In [28]:
x["Age"].fillna(x["Age"].mode,inplace=True)

In [29]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Gender    891 non-null    int64
 2   Age       891 non-null    object
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Embarked  889 non-null    float64
dtypes: float64(2), int64(4), object(1)
memory usage: 48.9+ KB

In [30]:
x["Embarked"].fillna(x["Embarked"].mode,inplace=True)

In [31]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Gender    891 non-null    int64
 2   Age       891 non-null    object
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Embarked  891 non-null    object
dtypes: float64(1), int64(4), object(2)
memory usage: 48.9+ KB

In [ ]:
x["Age"].value_counts().to_dict()

In [ ]:
x["Age"]=x["Age"].astype(float)

In [1]:
x.info()

NameError: name 'x' is not defined

In [ ]:
#x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=11)